<div class="title-block">
  <h3 class="title">
    Страница истории <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline"
            (click)="onModal()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>

<div *ngIf="!isLoading">
  Loading ...
</div>

<div *ngIf="isLoading">
  <app-history-chart [dataChart]="outcomeAll"></app-history-chart>

  <app-history-events [category]="category"
                      [event]="event"></app-history-events>
</div>

<div *ngIf="openModal">
  <app-history-filter (closeModal)="onCloseModal()"
                      (resArrays)="getArrays($event)"></app-history-filter>
</div>